.chatbot-container {
    position: fixed;
    bottom: 100px; /* Adjust as needed */
    right: 20px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
    z-index: 999;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.chatbot-container.show {
    transform: translateY(0);
    opacity: 1;
}

.chatbot-header {
    background-color:#702CF7;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.close-btn:hover {
    color: #f44336;
}

.chatbot-chat {
    background-color:#fff;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.message {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.message.sent {
    background-color: #7d2ce0cc;
    align-self: flex-end;
}

.message.received {
    background-color:#6809dbdc;
    align-self: flex-start;
}

.chatbot-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

.chatbot-input input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: 0;
    border: 0;
}

.chatbot-input button {
    padding: 8px 16px;
    border-radius: 12px;
    background-color:var(--btn-color);
    color: white;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.chatbot-input button:hover {
    background-color: #702CF7;
}
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--btn-color); 
    color: var(--white);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000; /* z-index to made becoz it should above the bgc of my page */
}

.fab:hover {
    background-color: rgb(230, 49, 84);
}
.chatbot-container {
    position: fixed;
    bottom:80px; 
    right: 20px;
    width: 300px; 
    max-height: 400px;
    overflow:hidden; 
    background-color: var(--white);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none; 
    z-index: 999; 
    transition: transform 0.3s ease, opacity 0.3s ease; 
}
.chatbot-container.show {
    display: block;
    transform: translateY(0); 
    opacity: 1; 
}

.chatbot-content {
    padding: 20px;
}
.message {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
